.train-list {
  margin-top: 32px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.train-list-header {
  display: grid;
  grid-template-columns: 100px 1fr 150px 150px 160px;
  background: #1F1A14;
  padding: 12px 16px;
  font-weight: 600;
}

.train-list-header div {
  font-family: 'pixel';
  color: #E5DD65;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #cbb211;
}

.no-results {
  text-align: center;
  padding: 48px;
  background-color: #1F1A14;
  color: #E5DD65;
  font-family: 'pixel', 'Courier New', monospace;
  font-size: 20px;
  letter-spacing: 2px;
  border: 2px solid #222200;
  border-radius: 8px;
  margin-top: 32px;
  text-shadow: 0 0 5px #cbb211;
}